:root{
  --x-text-primary: rgb(62 62 62) !important;
  --x-text-secondary: rgb(56, 56, 56) !important;;
  --x-title-color: rgb(56, 56, 56) !important;
  --x-title-size: 34px;
  --x-title-line-height: 1.25;
  --x-heading-color: #282C4B;
  --x-title-box-size: 22px;

  --x-banner-content-size: 16px;
  --x-banner-content-height: 1.55;

  --x-brand-color: #2d88e2;
  --x-primary-color: #282C4B;
  --x-accent-color: #616cf0;
  --x-greenlight-color: #24cbc6;
  --x-pupple-color: #909cff;
  --x-success-color: #27ae60;
  --x-danger-color: #e74c3c;
  --x-light-color:#fafafa;
  --x-white-color:#ffffff;
  --x-gray-color: #dddddd;
  --x-secondary-color: #333333;
  --x-black-color:#000000;
  --x-border-color:#dddddd;
  --x-darkgradient-color: linear-gradient(to right, #29323c, #485563); 
  --x-neumorphic-color: linear-gradient(145deg, #dedede, #ffffff);
  --x-neumorphic-dropdown: 5px 5px 10px #ededed, -5px -5px 10px #ffffff;
  --x-neumorphic-darker-dropdown: 0 14px 24px 0 rgb(0 0 0 / 10%);
  --x-margin-column: -15px;
  --x-padding-column: 15px;
  --x-border-radius: 20px;
  --x-bottom-margin: 35px;
  --x-bottom-margin-half: 22px;
  --x-section-padding: 55px 0px;

  --x-button-padding: 16px 30px;
  --x-transition: all .15s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  color: var(--x-black-color);
  font-family: 'Nunito Sans', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}