:root{
  --x-text-primary: rgb(62 62 62) !important;
  --x-text-secondary: rgb(56, 56, 56) !important;;
  --x-title-color: rgb(56, 56, 56) !important;
  --x-title-size: 34px;
  --x-title-line-height: 1.25;
  --x-heading-color: #282C4B;
  --x-title-box-size: 22px;

  --x-banner-content-size: 16px;
  --x-banner-content-height: 1.55;

  --x-brand-color: #2d88e2;
  --x-primary-color: #282C4B;
  --x-accent-color: #616cf0;
  --x-greenlight-color: #24cbc6;
  --x-pupple-color: #909cff;
  --x-success-color: #27ae60;
  --x-danger-color: #e74c3c;
  --x-light-color:#fafafa;
  --x-white-color:#ffffff;
  --x-gray-color: #dddddd;
  --x-secondary-color: #333333;
  --x-black-color:#000000;
  --x-border-color:#dddddd;
  --x-darkgradient-color: linear-gradient(to right, #29323c, #485563); 
  --x-neumorphic-color: linear-gradient(145deg, #dedede, #ffffff);
  --x-neumorphic-dropdown: 5px 5px 10px #ededed, -5px -5px 10px #ffffff;
  --x-neumorphic-darker-dropdown: 0 14px 24px 0 rgb(0 0 0 / 10%);
  --x-margin-column: -15px;
  --x-padding-column: 15px;
  --x-border-radius: 20px;
  --x-bottom-margin: 35px;
  --x-bottom-margin-half: 22px;
  --x-section-padding: 55px 0px;

  --x-button-padding: 16px 30px;
  --x-transition: all .15s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  color: var(--x-black-color);
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cs-chat-container {
  font-size: 1rem !important;
}

.cs-message-input__content-editor-wrapper {
  background-color: #ffffff !important;
  padding: 0.95em 1.25em !important;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  color: white !important;
  border: 1px solid var(--x-border-color);
}

svg.svg-inline--fa.fa-paper-plane.fa-w-16 {
  width: 27px;
  color: #333;
}

.cs-button {
  line-height: 2.5 !important;
}

.cs-message-input__content-editor[data-placeholder]:empty:before {
  font-size: 1rem !important;
  line-height: 1.25 !important;
  box-sizing: border-box;
  color: var(--x-title-color) !important;
}

.cs-message-input__content-editor, .cs-message-input__content-editor-container {
  background-color: unset !important;
}

.cs-message-input__content-editor {
  font-size: 1rem !important;
}

.cs-typing-indicator {
  padding-left: 35px !important;
}

.cs-message__content {
  padding: 0.95em 1.25em !important;
}

.cs-message-list {
  padding: 10px 0px !important;
  background: #efefef !important;
}

.cs-chat-container .cs-message-input {
  border: unset !important;
  padding: 25px 35px 20px 15px !important;
}

.cs-conversation-header {
  border: unset !important;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
  background: #000033 !important;
}

.cs-typing-indicator__text{
  color: #000033 !important;
}

.cs-conversation-header__info {
  background: unset !important;
  color: white !important;
}

.cs-typing-indicator__dot {
  background-color: #000033 !important;
}

.cs-chat-container {
  background: #ebebeb !important;
  overflow: hidden !important;
  border-radius: .35rem;
  overflow: hidden !important;
}

.cs-conversation-header__user-name {
  background: unset !important;
  color: white !important;
}

.cs-conversation-header {
  padding-left: 35px !important;
}

.cs-message-list__typing-indicator-container {
  padding-left: 35px !important;
  opacity: .5;
}

.cs-message--incoming .cs-message__content {
  background-color: #ffffff !important;
  margin: 15px 5px;
  border: 1px solid var(--x-border-color);
  border-radius: 0.7em 0em 0.7em 0 !important;
}

.cs-message--outgoing .cs-message__content {
  color: rgba(0,0,0,.87) !important;
  background-color: #ffffff !important;
  margin: 15px 5px;
  border: 1px solid var(--x-border-color);
  border-radius: 0.7em 0em 0.7em 0 !important;
}

.cs-message {
  align-items: center;
}
.rs-sidenav-subtle {
  background-color: transparent;
  height: 100% !important;
}

ul.rs-dropdown-menu {
  min-width: 150px;
  border-radius: .35rem;
}

.rs-navbar-item, .rs-navbar-nav>.rs-dropdown .rs-dropdown-toggle {
  padding: 18px 20px;
  width: 100%;
}

.nav-toggle {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  border-top: 1px solid var(--x-border-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  z-index: 2;
}

.x_chat_sidenav {
  margin-top: 20px;
}

a.rs-sidenav-item.rs-sidenav-item-active {
  background: #0662f7;
  color: white !important;
  border-radius: .35rem;
}

a.rs-sidenav-item {
  border-radius: .35rem !important;
}

a.rs-sidenav-item:hover {
  background: #0033cc !important;
  color: white !important;
}

@media (max-width: 768px){
  .cs-chat-container .cs-message-input {
      padding: 10px 0px !important;
  }
}